# Compiled JavaScript files
# We allow dist/ because Firebase CLI needs it for deployment
# if it is ignored here, it won't be uploaded to Cloud Functions.
# dist/

# TypeScript cache
*.tsbuildinfo

# Node.js dependencies
node_modules/

# Environment variables
.env
.env.local

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
